# Lecture 1: Overview and Python Basics

**Outcomes**

- Programming concepts  
  - Understand variable assignment  
  - Know what a function is and how to figure out what it does  
  - Be able to use tab completion  
- Numbers in Python  
  - Understand how Python represents numbers  
  - Know the distinction between `int` and `float`  
  - Be familiar with various binary operators for numbers  
  - Introduction to the `math` library  
- Text (strings) in Python  
  - Understand what a string is and when it is useful  
  - Learn some of the methods associated with strings  
  - Combining strings and output  
- True and False (booleans) in Python  
  - Understand what a boolean is  
  - Become familiar with all binary operators that return booleans

## First Steps

We are ready to begin writing code!

In this section, we will teach you some basic concepts of programming
and where to search for help.

# Notebooks

Jupyter notebooks are a handy way of mixing text instructions with Python code snippets.  You can add either a Code box (darker gray) or a text box (light background) to your current notebook by going to Insert at the top of the screen, then choosing the notebook you want.

A code box contains Python code, and you can run that code by clicking on the little box to the left, which should become a play symbol.  Try this on the "Hello, world!" snippet that follows.

In [ ]:
print("Hello, world!")

# Expressions

If you want to, you can treat Python as a calculator. Python will evaluate numerical expressions using +, -, * (multiply), and / (divide) and will follow the correct order of operations when doing so.  

In Jupyter notebooks, the last expression evaluated will be displayed underneath the code box.

In [ ]:
2+2

In [ ]:
1+2*7

The order of operations you're familiar with from algebra is generally followed (multiplication before addition, etc), but now there are more kinds of operators, like Boolean operators.  If you want to be sure of the order in which things are evaluated, you can use parentheses.

In [ ]:
(1+2)*7

### Variable Assignment

Variable assignment associates a value to a variable.

Below, we assign the value “Hello World” to the variable `x`

In [ ]:
x = "Hello World"

Once we have assigned a value to a variable, Python will remember this
variable as long as the *current* session of Python is still running.

Notice how writing `x` into the prompt below outputs the value
“Hello World”.

In [ ]:
x

However, Python returns an error if we ask it about variables that have not yet
been created.

In [ ]:
# uncomment (delete the # and the space) the line below and run
# y

### Exercise 1

What do you think the value of `z` is after running the code below?

In [ ]:
z = 3
z = z + 4
print("z is", z)

Keep in mind that the variable binds a name to something stored in memory.

The name can even be linked to a value of a completely different type.

In [ ]:
x = 2
print(x)
x = "something else"
print(x)

### Code Comments

Comments are short notes that you leave for yourself and for others who read your
code.

They should be used to explain what the code does.

- To save time for future maintenance

- To guide collaboration

The best comments are:

- Concise – no novels; explain just enough.

- Accurate – outdated comments cause more harm than no comments.

- Focused on why – avoid restating obvious code.

A comment is made with the `#`. Python ignores everything in a line that follows a `#`.

Let’s practice making some comments.

In [ ]:
i = 1  # Assign the value 1 to variable i
j = 2  # Assign the value 2 to variable j

# We add i and j below this line
i + j

## Functions

Functions are processes that take an input (or inputs) and produce an output.

If we had a function called `f` that took two arguments `x` and
`y`, we would write `f(x, y)` to use the function.

For example, the function `print` simply prints whatever it is given.
Recall the variable we created called `x`.

print() is a built-in Python function that outputs information to the screen (the console).

In [ ]:
print(x)

We just see a function in this document:  print(), which prints a value to the screen.  There are many, many functions in Python.  

Some are in the core language, and are usable immediately.  Some are defined in "libraries" or "modules" that you need to load up before you can use them.  And many of them are just defined by programmers like us.  Most of your time programming will probably be spent defining new functions - reusable tools that make the main job easier.  But for right now, we'll just look at how to make use of predefined functions.

A function can have zero or more arguments -- usually it takes at least one -- and then evaluates to something - it *returns* a value.

### Getting Help

We can figure out what a function does by asking for help.

In Jupyter notebooks, this is done by placing a `?` after the function
name (without using parenthesis) and evaluating the cell.

For example, we can ask for help on the print function by writing
`print?`.

Depending on how you launched Jupyter, this will either launch

- JupyterLab: display the help in text below the cell.  
- Classic Jupyter Notebooks: display a new panel at the bottom of your
  screen.  You can exit this panel by hitting the escape key or clicking the x at
  the top right of the panel.

In [ ]:
 # print?

### Exercise 2

Read about out what the `len` function does (by writing len?).

What will it produce if we give it the variable `x`?

Check whether you were right by running the code `len(x)`.

In [ ]:
# len?

In [ ]:
len(x)

## Objects and Types

Everything in Python is an *object*.

Objects are “things” that contain 1) data and 2) functions that can operate on
the data.

Sometimes we refer to the functions inside an object as *methods*.

We can investigate what data is inside an object and which methods
it supports by typing `.` after that particular variable, then
hitting `TAB`.

It should then list data and method names to the right of the
variable name like this:

![https://datascience.quantecon.org/_static/introspection.png](https://datascience.quantecon.org/_static/introspection.png)

  
You can scroll through this list by using the up and down arrows.

Let’s do this together below. Keep going down until you find the method
`split`.

In [ ]:
# Type a period after `x`
x.

Once you have found the method `split`, you can use the method by adding
parenthesis after it.

Let’s call the `split` method, which doesn’t have any other required
parameters.

In [ ]:
x.split()

## Functions vs Methods

- Functions: A function is a block of reusable code that performs a specific task. It can take input arguments, perform computations, and return a result.

Functions are not bound to objects or classes and can be called directly.

- Methods: A method is a function that is associated with an object. Methods are defined within a class and are intended to operate on the data contained within that class.

Methods are functions that are bound to objects and classes.

We often want to identify what kind of object some value is–
called its “type”.

A “type” is an abstraction which defines a set of behavior for any
“instance” of that type

i.e. `2.0` and `3.0` are instances of `float`, where `float` has a set of particular common behaviors.

In particular, the type determines:

- the available data for any “instance” of the type (where each
  instance may have different values of the data).  
- the methods that can be applied on the object and its data.  


We can figure this out by using the `type` function.

The `type` function takes a single argument and outputs the type of
that argument.

In [ ]:
type(3)

In [ ]:
type("Hello World")

In [ ]:
type([1, 2, 3])

We will learn more about each of these types (and others!) and how to use them
soon.

## Modules

Python takes a modular approach to tools.

By this we mean that sets of related tools are bundled together into *packages*.
(You may also hear the term modules to describe the same thing.)

For example:

- `pandas` is a package that implements the tools necessary to do
  scalable data analysis.  
- `matplotlib` is a package that implements visualization tools.  
- `requests` and `urllib` are packages that allow Python to
  interface with the internet.  


As we move further into the class, being able to
access these packages will become very important.

We can bring a package’s functionality into our current Python session
by writing

In [ ]:
import package

Once we have done this, any function or object from that package can
be accessed by using `package.name`.

Here’s an example.

In [ ]:
import sys   # for dealing with your computer's system
sys.version  # information about the Python version in use

## Module and Library

- Module: A module is a single file that contains Python code. It can define
functions, classes, and variables, and can also include runnable
code. Modules help organize and reuse code.

- Library: A library is a collection of modules that are bundled together.
It may include several modules that work together to provide
specific functionality or solve particular problems. Libraries offer a broad set of tools and functionalities. They
often serve as a comprehensive solution for specific domains
(e.g., data analysis, web development).

In [ ]:
# import library_xxx

# from library_xxx import module_xxx

### Exercise 3

In the cell below, use tab completion to find a function from the `time`
module that will display the **local** time.

Use `time.FUNC_NAME?` (where `FUNC_NAME` is replaced with the
function you found) to see information about that function and
then call the function.

Look for something to do with the word `local`

In [ ]:
import time
# your code here -- notice the comment!

In [ ]:
time.localtime()

### Module Aliases

Some packages have long names (see `matplotlib`, for example) which
makes accessing the package functionality somewhat inconvenient.

To ease this burden, Python allows us to give aliases or “nicknames” to packages.

For example we can write:

In [ ]:
import package as p

This statement allows us to access the packages functionality as
`p.function_name` rather than `package.function_name`.

Some common aliases for packages are

- `import pandas as pd`  
- `import numpy as np`  
- `import matplotlib as mpl`  
- `import datetime as dt`  


While you *can* choose any name for an alias, we suggest that you stick
to the common ones.

You will learn what these common ones are over time.

In [ ]:
import pandas as pd

### Exercise 4

Try running `import time as t` in the cell below, then see if you can
call the function you identified above.

Does it work?

In [ ]:
import time as t

In [ ]:
t.localtime()

## Good Code Habits

We encourage you to do **everything** in your power to make your code as readable as possible.

Here are some suggestions for how to do so:

- Comment frequently. Leaving short notes not only will help others who
  use your code, but will also help you interpret your code
  after some time has passed.  
- **Anytime** you use a comma, place a space immediately afterwards.  
- Whitespace is your friend. Don’t write line after line of code – use
  blank lines to break it up.  
- Don’t let your lines run too long. Some people reading your code will
  be on a laptop, so you want to ensure that they don’t need to scroll horizontally and right to read your code. We recommend no more than 80 characters per line.

## Numbers

Python has two types of numbers.

1. Integer (`int`): These can only take the values of the integers
  i.e. $ \{\dots, -2, -1, 0, 1, 2, \dots\} $  
1. Floating Point Number (`float`): Think of these as any real number
  such as $ 1.0 $, $ 3.1415 $, or $ -100.022358923223 $…  


The easiest way to differentiate these types of numbers is to find a decimal place
after the number.

A float will have a decimal place, but an integer will not.

Below, we assign integers to the variables `xi` and `zi` and assign
floating point numbers to the variables `xf` and `zf`.

In [ ]:
xi = 1
xf = 1.0
zi = 123
zf = 1230.5  # Notice -- There are no commas!

In [ ]:
type(xi)

In [ ]:
type(xf)

In [ ]:
type(zf2)

### Exercise 5

Create the following variables:

- `D`: A floating point number with the value 10,000  
- `r`: A floating point number with value 0.025  
- `T`: An integer with value 30  


We will use them in a later exercise.

In [ ]:
D =
r =
T =

### Python as a Calculator

You can use Python to perform mathematical calculations.

In [ ]:
a = 4
b = 2

print("a + b is", a + b)
print("a - b is", a - b)
print("a * b is", a * b)
print("a / b is", a / b)
print("a ** b is", a**b)
print("a ^ b is", a^b)

You likely could have guessed all except the last two.

Python uses `**`, not `^`, for exponentiation (raising a number
to a power)!

Notice also that above `+`, `-` and `**` all returned an integer
type, but `/` converted the result to a float.

When possible, operations between integers return an integer type.

All operations involving a float will result in a float.

In [ ]:
a = 4
b = 2.0

print("a + b is", a + b)
print("a - b is", a - b)
print("a * b is", a * b)
print("a / b is", a / b)
print("a ** b is", a**b)

We can also chain together operations.

When doing this, Python follows the standard [order of operations](https://en.wikipedia.org/wiki/Order_of_operations) — parenthesis, exponents,
multiplication and division, followed by addition and subtraction.

For example,

In [ ]:
x = 2.0
y = 3.0
z1 = x + y * x
z2 = (x + y) * x

What do you think `z1` is?

How about `z2`?

In [ ]:
z1

In [ ]:
z2

### Exercise 6

Remember the variables we created earlier?

Let’s compute the present discounted value of a payment ($ D $) made
in $ T $ years assuming an interest rate of 2.5%. Save this value to
a new variable called `PDV` and print your output.

The formula is

$$
\text{PDV} = \frac{D}{(1 + r)^T}
$$

In [ ]:
# your code here

### Other Math Functions

We often want to use other math functions on our numbers. Let’s try to
calculate sin(2.5).

In [ ]:
sin(2.5)

As seen above, Python complains that `sin` isn’t defined.

The problem here is that the `sin` function – as well as many other
standard math functions – are contained in the `math` package.

We must begin by importing the math package.

In [ ]:
import math

Now, we can use `math.[]` to see what functions are available to us.

In [ ]:
# uncomment, add a period (`.`)
# math

In [ ]:
# found math.sin!
math.sin(2.5)

### Exercise 7

Verify the “trick” where the percent difference ($ \frac{x - y}{x} $)
between two numbers close to 1 can be well approximated by the difference
between the log of the two numbers ($ \log(x) - \log(y) $).

Use the numbers `x` and `y` below.

you will want to use the
`math.log` function

In [ ]:
x = 1.05
y = 1.02

In [ ]:
# percent difference

In [ ]:
# the difference between the log

#### Floor/Modulus Division Operators

You are less likely to run into the following operators, but understanding
that they exist is useful.

For two numbers assigned to the variables `x` and `y`,

- Floor division: `x // y`  
- Modulus division: `x % y`  

Floor division returns the number of times the divisor goes into the dividend (the quotient)
and modulus division returns the remainder.

An example would be 37 divided by 7:

- Floor division would return 5 (7 * 5 = 35)  
- Modulus division would return 2 (2 + 35 = 37)  


Try it!

In [ ]:
37 // 7

In [ ]:
37 % 7

## Strings

Textual information is stored in a data type called a string.

To denote that you would like something to be stored as a string, you place it
inside of quotation marks.

For example,

In [ ]:
"this is a string"  # Notice the quotation marks
'this is a string'  # Notice the quotation marks
this is not a string  # No quotation marks

You can use either `"` or `'` to create a string. Just make sure
that you start and end the string with the same one!

Notice that if we ask Python to tell us the type of a string, it abbreviates
its answer to `str`.

In [ ]:
type("this is a string")

### Exercise 8

The code below is invalid Python code

In [ ]:
x = 'What's wrong with this string'

Can you fix it?

Try creating a code cell below and testing things out until you
find a solution.

In [ ]:
# your code here

### String Operations

Some of the arithmetic operators we saw for the numbers also work
on strings:

- Put two strings together: `x + y`.  
- Repeat the string `x` a total of `n` times: `n * x` (or `x * n`).

In [ ]:
x = "Hello"
y = "World"

In [ ]:
x + y

In [ ]:
3 * x

What happens if we try `*` with two strings, or `-` or `/`?

(The best way to find out is to try it!)

In [ ]:
a = "1"
b = "2"
a * b

In [ ]:
a - b

### Exercise 9

Using the variables `x` and `y`, how could you create the sentence
`Hello World`?

Think about how to represent a space as a string.

In [ ]:
x + " " + y

### String Methods

We can use many *methods* to manipulate strings.

We will not be able to cover all of them here, but let’s take a look at
some of the most useful ones.

In [ ]:
x

In [ ]:
x.lower()  # Makes all letters lower case

In [ ]:
x.upper()  # Makes all letters upper case

In [ ]:
x.count("l")  # Counts number of a particular string

In [ ]:
x.count("ll")

### Exercise 10

One of our favorite (and most frequently used) string methods is
`replace`.

It substitutes all occurrences of a particular pattern with a different pattern.

For the variable `test` below, use the `replace` method to change the
`c` to a `d`.

(Type `test.replace?` to get some help for how to use the method
replace.)

In [ ]:
test = "abc"

In [ ]:
# your code here

### Exercise 11

Suppose you are working with price data and encounter the value
`"$6.50"`.

We recognize this as being a number representing the quantity “six dollars and fifty cents.”

However, Python interprets the value as the string
`"$6.50"`.

In this exercise, your task is to convert the variable `price` below
into a number.

Once the string is in a suitable format, you can call write
`float(clean_price)` to make it a number.

In [ ]:
price = "$6.50"

In [ ]:
# your code here
clean_price = price.replace( , )

In [ ]:
float(clean_price)

### String Formatting

Sometimes we’d like to reuse some portion of a string repeatedly, but
still make some relatively small changes at each usage.

We can do this with *string formatting*, which done by using `{}` as a
*placeholder* where we’d like to change the string, with a variable name
or expression.

Let’s look at an example.

In [ ]:
country = "Singapore"
GDP = 673
year = 2023
my_string = f"{country} had ${GDP} billion GDP in {year}"
print(my_string)

Rather than just substituting a variable name, you can use a calculation
or expression.

In [ ]:
print(f"{5}**2 = {5**2}")

Or, using our previous example

In [ ]:
my_string = f"{country} had ${GDP * 1_000_000} GDP in {year}"
print(my_string)

In these cases, the `f` in front of the string causes Python interpolate
any valid expression within the `{}` braces.

This allows you to include variables or expressions directly within the string, and Python will evaluate them and insert the result into the string.

### Exercise 12

Lookup a country in [World Bank database](https://data.worldbank.org), and
format a string showing the growth rate of GDP over the last 2 years.

Alternatively, to reuse a formatted string, you can call the `format` method (noting that you do **not** put `f` in front).

In [ ]:
gdp_string = "{country} had ${GDP} billion in {year}"

gdp_string.format(country = "Singapore", GDP = 673, year = 2023)

### Exercise 13

Instead of hard-coding the values above, try to use the `country`, `GDP` and
`year` variables you previously defined.

### Exercise 14

Create a new string and use formatting to produce each of the following
statements

- “The 1st quarter revenue was 110M”  
- “The 2nd quarter revenue was 95M”  
- “The 3rd quarter revenue was 100M”  
- “The 4th quarter revenue was 130M”

In [ ]:
revenue_string = "The {quarter} quarter revenue was {revenue}M"

In [ ]:
revenue_string.format(quarter = "1st", revenue = "110")

For more information on what you can do with string formatting (there is *a lot*
that can be done…), see the [official Python documentation](https://docs.python.org/3.6/library/string.html) on the subject.

## Booleans

A boolean is a type that denotes true or false.

Using
boolean values allows you to perform or skip operations depending on whether or
not a condition is met.

Let’s start by creating some booleans and looking at them.

In [ ]:
x = True
y = False

type(x)

In [ ]:
x

In [ ]:
y

### Comparison Operators

Rather than directly write `True` or `False`, you will usually
create booleans by making a comparison.

For example, you might want to evaluate whether the price of a particular asset
is greater than or less than some price.

For two variables `x` and `y`, we can do the following comparisons:

- Greater than: `x > y`  
- Less than: `x < y`  
- Equal to: `==`  
- Greater than or equal to: `x >= y`  
- Less than or equal to: `x <= y`  


We demonstrate these below.

In [ ]:
a = 4
b = 2

print("a > b", "is", a > b)
print("a < b", "is", a < b)
print("a == b", "is", a == b)
print("a >= b", "is", a >= b)
print("a <= b", "is", a <= b)

### Negation

Occasionally, determining whether a statement is
“not true” or “not false” is more convenient than simply “true” or “false”.

This is known as *negating* a statement.

In Python, we can negate a boolean using the word `not`.

In [ ]:
not False

In [ ]:
not True

### Multiple Comparisons (and/or)

Sometimes we need to evaluate multiple comparisons at once.

This is done by using the words `and` and `or`.

However, these are the “mathematical” *and*s and *or*s – so they
don’t carry the same meaning as you’d use them in colloquial English.

- `a and b` is true only when **both** `a` and `b` are true.  
- `a or b` is true whenever at least one of `a` or `b` is true.  


For example

- The statement “I will accept the new job if the salary is higher
  *and* I receive more vacation days” means that you would only accept
  the new job if you both receive a higher salary and are given more
  vacation days.  
- The statement “I will accept the new job if the salary is higher *or*
  I receive more vacation days” means that you would accept the job if
  (1) they raised your salary, (2) you are given more vacation days, or
  (3) they raise your salary and give you more vacation days.  


Let’s see some examples.

In [ ]:
True and False

In [ ]:
True and True

In [ ]:
True or False

In [ ]:
False or False

In [ ]:
# Can chain multiple comparisons together.
True and (False or True)

### Exercise 15

Without typing the commands, determine whether the following statements are
true or false.

Once you have evaluated whether the command is `True` or `False`, run the
code in Python.

In [ ]:
x = 2
y = 2
z = 4

# Statement 1
x > z

# Statement 1
x == y

# Statement 3
(x < y) and (x > y)

# Statement 4
(x < y) or (x > y)

# Statement 5
(x <= y) and (x >= y)

# Statement 6
True and ((x < z) or (x < y))

### `all` and `any`

We have seen how we can use the words `and` and `or` to process two booleans
at a time.

The functions `all` and `any` allow us to process an unlimited number of
booleans at once.

`all(bools)` will return `True` if and only if all the booleans in `bools`
is `True` and returns `False` otherwise.

`any(bools)` returns `True` whenever one or more of `bools` is `True`.

The exercise below will give you a chance to practice.

### Exercise 16

For each of the code cells below, think carefully about what you expect to
be returned *before* evaluating the cell.

Then evaluate the cell to check your intuitions.

NOTE: For now, do not worry about what the `[` and `]` mean – they
allow us to create lists which we will learn about in an upcoming lecture.

In [ ]:
all([True, True, True])

In [ ]:
all([False, True, False])

In [ ]:
all([False, False, False])

In [ ]:
any([True, True, True])

In [ ]:
any([False, True, False])

In [ ]:
any([False, False, False])